.container {
  font-family: Arial, sans-serif;
  min-width: 450px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
  text-align: center;
}

.container h1 {
  line-height: 1.5;
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
}

.input-group:first-child{
  margin-top:20px
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}


.input-group label {
  margin-top: 8px;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 15px;
}

.input-group input {
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 14px;
  font-size: 16px;
  border: 1.5px solid #ccc;
}

.btn-predict {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;


  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.btn-predict:hover {
  background-color: #45a049;
}

.input-group select {
  width: 100%;
  padding: 12px 14px;
  font-size: 16px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 18px;
  transition: border-color 0.3s ease;
}


.input-group select:focus, input:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(74, 175, 80, 0.2);
}

/* Khoảng cách cho label của các ô chọn */
.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #444;
}